@using Orchard.Liquid.ViewModels;
@model LiquidPartViewModel

<fieldset class="form-group">
    <label asp-for="Liquid">@T["Body"]</label>
    <textarea asp-for="Liquid" rows="5" class="form-control content-preview-text"></textarea>
    <span class="hint">@T["The body of the content item, in Liquid format."]</span>
</fieldset>
